@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: poppins;
}

.header {
    background-color: #9C2C77;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerTitle {
    font-size: 5rem;
    line-height: 1;
}

.headerDesc {
    margin: 20px 0px;
    margin-bottom: 40px;
}

.headerBtn {
    background-color: #FD841F;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerSearch {
    height: 30px;
    border: 3px solid #E14D2A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon {
    color: #E14D2A;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: #FD841F;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 50px;
}

.options {
    position: absolute;
    top: 50px;
    background-color: #fff;
    color: #FD841F;
    border-radius: 5px;
    -webkit-box-shadow: -3px 6px 5px 7px rgba(205, 16, 77, 0.18);
    -moz-box-shadow: -3px 6px 5px 7px rgba(205, 16, 77, 0.18);
    box-shadow: -3px 6px 5px 7px rgba(205, 16, 77, 0.18);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #FD841F;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}